<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit Your Post</h2>
    <div class="posts"> 
    <h3 class="conte">id :<%= post.id %></h3>
    <h4 class="user">@<%= post.username %></h4>

    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">   
        <textarea rows="6" cols="40" class="content" name="content"><%= post.content %></textarea> <br>
        <button class="btn">Submit</button>
       </div>
    </form>
</body>
</html>