<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create Post</title>
</head>
<body>
    <div class="posts">
    <form method="post" action="/posts">
        <br>
       <input class="user" id="input" placeholder=" @enter username" type="text" name="username"> <br> <br> 
       <textarea id="text" rows="6" cols="40" class="content" placeholder="Write Content" name="content"></textarea> <br>
       <button class="btn">Submit Post</button>                 
    </form>
    </div>
</body>
</html>