<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>View Post</title>
</head>
<body>
 
    <div class="posts">
    <h3 class="conte">&nbsp; id :<%= post.id %></h3>
    <h4 class="user">&nbsp; @<%= post.username %></h4>
    <textarea id="text" class="content" name="content"><%= post.content %></textarea> <br>
   </div>

</body>
</html>