.posts{
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 7px;
  margin-bottom: 5px;
}
.user{
   font-style: italic;
    
}
.content{
  background-color: lightpink;
  margin: auto;
}   
.btn{
    margin: 3px;
}
#input{
  margin-left: 3px;
}
.an{
  margin-left: 4px;
  margin-bottom: 3px;
}
#title{
  color:rgb(183, 7, 7);
}
#text{
  margin-left: 2px;
}
#delete{
  color:rgb(166, 19, 19);
  margin-bottom:2px;
}